html{
    background-color: rgba(119, 189, 119, 0.856)
}
.register-box{
width: 320px;
height: 520px;
background: white;
color:black;
top: 50%;
left: 50%;
border-radius: 15px;
position: absolute;
transform: translate(-50%,-50%);
padding: 70px 30px;

}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }
