<body>
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <div class="change-box" ng-controller="resetCtrl">
            <title>change password page</title>
            <form name="changeform">
                <h1>change password</h1>
                <input  type="password" ng-model="password" placeholder="new password"  ng-required="required"><br> 
                <input  type="password" ng-model="confirmpassword" placeholder="confirm password"  ng-required="required"><br>
                <button ui-sref=".change" class="btn btn-primary" style='margin-left:130px' ng-click="changepasswordclicked()">change password</button>
            </form>
        </div>
    </body>