<body ng-controller="dashboardCtrl">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <title>Dashboard page</title>
<div id="dashboard">
    <div id="top">
        <h3>{{sender}}</h3>
        <button ui-sref="login" class="btn btn-primary" style='margin-right:20px' ng-click="signoutClicked()">signout</button>
    </div>
    <div id="down"> 
            <div id="users"> 
                <div id="online-users"> 
                    <h1>Online Users </h1>
                    <a href="" ng-repeat="x in records" ng-click="recieverclicked(x)" >{{x}}</a>
                </div>

                <div id="allusers"> 
                        <h1>All Users </h1>
                        <a href="" ng-repeat="x in alluserrecords" ng-click="recieverclicked(x.useremail)" >{{x.useremail}}</a>
                    </div>
            </div>
            
            <div id="chat-area">
                <div id="chats">
                    <h3>TO:<a href=""> {{reciever}} </a></h3>   
                </div>
                <div id="messages">
                    <div id ="dividing" ng-repeat="x in usermessages">
                        <p ng-if="x.sender!=sender" >{{x.message}}</p>
                        <p class="sender" ng-if="x.sender==sender" >{{x.message}}</p>
                    </div>
                    
                </div>
                    
                <div id="send">
                    <input type="text" name="sendmessage" ng-model="sendmessage" placeholder="enter a message" ng-required="true"/>
                    <button ui-sref="send" class="btn btn-primary" style='margin-right:20px' ng-click="sendClicked()">send</button>
                </div>
            </div>   

    </div>
</div>
</body>
