<body>
        <link rel="stylesheet" type="text/css" href="../css/forgetpassword.css">
        <div class="forget-box">
            <title>Forgetpassword page</title>
            <form name="forgetform">
                <h1>Forget password</h1>
                <input  type="email" ng-model="usermail" placeholder="email"  ng-required="required"><br>  
                <button ui-sref="forget" class="btn btn-primary" style='margin-left:190px' ng-click="sendcodeclicked()">send code</button>
            </form>
        </div>
    </body>