<div ng-controller="loginCtrl">
    <div class="loginpage">
    <form action="!/" id="mylogin">

        <p>login</p>
        <div>
        Username <input type="text" name="username" id="username" ng-model="username"></input>
        </div>
        <div>
        Password <input type="password" name="password" id="password" ng-model='password'></input>
        </div>
        <button type="button" ng-click="submitLogin()">Login</button>
        <button type="button" ng-click="register()">Sign-up</button>
    </form>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .

    </div>
</div>